//  scss for argentina page

.argentina-container {
  margin: 16vh 16px 16px 16px;
  height: 100vh;

  .argentina-title {
    width: 100%;
    justify-content: center;

    h2 {
      font-size: 40px;
      margin: 16px 0;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
  }
}
