//  scss for argentina page

.argentina-container {
  margin: 16vh 16px 16px 16px;
  height: 100vh;

  .argentina-title {
    font-size: 40;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
  }
}
