// scss correspondiente a la página de Brasil

.brazil-container {
  margin: 16vh 16px 16px 16px;

  .brazil-title {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000;

    h2 {
      font-size: 40px;
      margin: 16px 0;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
  }

  .noticia-principal-brazil {
    margin: 16px 0;
  }

  .exponentes-liberales-brazil {
    margin: 8px 0;

    .exponentes-liberales-brazil-line-one {
      display: flex;
    }

    .exponentes-liberales-brazil-line-two {
      display: flex;
    }

  }
}
