// SCSS correspondiente a exponentes liberales

.exponentes-liberales {
  border-top: 2px solid #000;
  width: 100%;

  .exponentes-title {
    width: 100%;
    display: flex;
    justify-content: center;

    h2 {
      font-family: 'Times New Roman', Times, serif;
    }
  }

  .exponentes-line-one {
    display: flex;
    width: 100%;
  }

  .exponentes-line-two {
    display: flex;
    width: 100%;
  }
}
