// SCSS correspondiente a la pagina de financiacion
.financiacion-container {
  margin: 16vh 16px 16px 16px;
  height: 100vh;
  border: 1px solid #000000;

  .financiacion-title-img {
    width: 100%;

    display: flex;
    justify-content: center;


    img {
      height: 20vh;
    }
  }

  .financiacion-title-one {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    h1 {
      font-size: 40px;
    }
  }

  .financiacion-text-one {

  }

  .financiacion-title-two {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    h2 {
      font-size: 32px;
    }
  }

  .financiacion-text-two {

  }

  .financiacion-title-three {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    h2 {
      font-size: 32px;
    }
  }
}
