// Specific CSS for your home-page

.home-container {
  margin: 16vh 16px 16px 16px;

}

// home title
.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 2px solid black;
  margin: 0 0 16px 0;

  h1 {
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
  }

}
