// Specific CSS for your home-page

.home-container {
  margin: 16px;
  border: 2px black solid;
  height: 100vh;

}

// home title
.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border-bottom: 2px solid black;

  h1 {
      font-family: "Times New Roman", Times, serif;
  }

}
