// SCSS correspondiente a las noticias

// Noticia principal
.noticia-principal-container {
  margin: 16px 0 16px 0;
  border-radius: 5px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // titulo de la noticia principal
  .noticia-principal-title {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    h2 {
      text-decoration: none;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
      height: 100%;
      border: 1px solid black;

    }

    a {
      text-decoration: none;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 0 16px 0 0;
      object-fit: cover;

    }
  }

  // imagen de la noticia principal
  .noticia-principal-img {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    img {
      width: 70%;
      height: 70%;
      border-radius: 5px;
      object-fit: cover;
    }
  }

  // texto de la noticia principal
  .noticia-principal-text {
    margin: 16px 0;
    font-size: 16px;
    color: #bec4cf;
    background: transparent;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
  }

}
