// scss for uruguay page

.uruguay-container {
  margin: 16vh 16px 16px 16px;
  height: 100vh;

  .uruguay-title {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000;

    h2 {
      font-size: 40px;
      margin: 16px 0;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
    }
  }
}
