<%# HTML correspondiente a los articulos secundarios %>
<div class="article-secundary-container">

  <div class="article-secundary-title">
    <a href="">Noticias secundarias</a>
  </div>

  <div class="article-secundary-card-container">


    <div class="card-12">
      <%= image_tag "290624.jpg" %>
      <a href=""></a>
    </div>

    <div class="card-13">
      <%= image_tag "290624.jpg" %>
      <a href=""></a>
    </div>

    <div class="card-14">
      <%= image_tag "290624.jpg" %>
      <a href=""></a>
    </div>

  </div>

</div>
