<%# division correspondiente a donde estaran las informaciones principales %>
  <div class="card-11">

    <div class="card-11-title">
      <%# bandera correspondiente al pais de la noticia %>
      <%= image_tag "argentina.png" %>
      <a href="/argentina">Noticias de Argentina</a>
    </div>

    <%# imagen de la noticia principal %>
    <div class="card-11-img">
      <%= image_tag "290624.jpg" %>
    </div>

    <%# texto de la noticia principal %>
    <div class="card-11-text">
      <p>El presidente de Argentina, Javier Milei,
      ha anunciado que el país ha solicitado un
      crédito al Fondo Monetario Internacional (FMI)
      para evitar una crisis económica. Macri ha
      asegurado que el préstamo es una "decisión
      preventiva" y ha dicho que el país necesita
      "evitar una crisis como las que hemos tenido
      en nuestra historia".</p>
    </div>

  </div>
