<%# HTML correspondiente a los articulos extras %>

<div class="article-extra-container">
  <div class="article-extra-title">
    <h2>Noticias Varias</h2>
  </div>

  <div class="article-extra-card-carousel">
    <div class="article-extra-card-container">

      <div class="article-extra-card-line">
        <div class="card">Card 15</div>
        <div class="card">Card 16</div>
        <div class="card">Card 17</div>
        <div class="card">Card 18</div>
      </div>

      <div class="article-extra-card-line">
        <div class="card">Card 19</div>
        <div class="card">Card 20</div>
        <div class="card">Card 21</div>
        <div class="card">Card 22</div>
      </div>

      <div class="article-extra-card-line">
        <div class="card">Card 23</div>
        <div class="card">Card 24</div>
        <div class="card">Card 25</div>
        <div class="card">Card 26</div>
      </div>

    </div>
  </div>

  <button class="carousel-btn prev-btn">&lt;</button>
  <button class="carousel-btn next-btn">&gt;</button>
</div>
