<div class="card-11">

  <div class="card-11-title">
    <%= image_tag "argentina.png" %>
    <a href="">Noticias de argentina</a>
  </div>

  <div class="card-11-img">
    <%= image_tag "290624.jpg"  %>
  </div>

  <div class="card-11-text">
  <p>Texto de la noticia</p>
  </div>

</div>
