<div class="article-extra-container">
  <div class="article-extra-title">
    <h2>Noticias Varias</p>
    <div class="article-extra-card-container">

      <div class="article-extra-card-line-one">

        <div class="card-15">

        </div>
        <div class="card-16">

        </div>
        <div class="card-17">

        </div>

      </div>

      <div class="article-extra-card-line-two">

        <div class="card-18">

        </div>
        <div class="card-19">

        </div>

      </div>

      <div class="article-extra-card-line-three">

      </div>

    </div>
  </div>
</div>
