<div class="article-extra-container">
  <div class="article-extra-title">
    <h2>Noticias Varias</p>
    <div class="article-extra-card-container">
      <div class="article-extra-card-line-one">

      </div>

    </div>

  </div>

</div>
