<%# HTML for footer navbar %>

<div class="footer-container">
  <div class="social-media-container">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
    <a href=""><i class="fa-brands fa-telegram"></i></a>
  </div>

</div>
