<%# HTML for footer navbar %>

<div class="footer-container">

  <div class="social-media-container">
    <a href=""><i class="fa-brands fa-facebook" target="_blank"></i></a>
    <a href=""><i class="fa-brands fa-instagram" target="_blank"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter" target="_blank"></i></a>
    <a href=""><i class="fa-brands fa-telegram" target="_blank"></i></a>
  </div>

  <div class="financial-container">
    <a href="">
      <button class="button-02">Apoyar la Libertad</button>
    </a>
  </div>

</div>
