<div class="navbar-container">
  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

  <div class="paste-button">
    <button class="button">Pais &nbsp; ▼</button>
    <div class="dropdown-content">
      <a id="top" href="#">Keep source formatting</a>
      <a id="middle" href="#">Merge formatting</a>
      <a id="bottom" href="#">Keep text only</a>
    </div>
  </div>

</div>
