<div class="navbar-container">
  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

   <div class="menu-container">
    <button id="menu-toggle">Menu</button>
    <div class="menu" id="menu">
      <a href="/argentina">Argentina</a>
      <a href="/uruguay">Uruguay</a>
    </div>
  </div>

</div>
