<div class="navbar-container">
  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

  <div class="container">
    <div class="head">Menu</div>
    <ol>
      <li><a href="/argentina"></a></li>
      <li><a href="/uruguay"></a></li>
    </ol>

  </div>


</div>
