<div class="navbar-container">
  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

  <div class="container">
    <div class="head">Menu</div>
    <ol>
      <li><a href="/argentina"><i class="fas fa-qrcode"></i>Argentina</a></li>
      <li><a href="/uruguay"><i class="fas fa-dashboard"></i>Uruguay</a></li>
    </ol>

  </div>


</div>
