<div class="navbar-container">

  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

  <div class="dropdown">

    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pais
    </button>

    <ul class="dropdown-menu">

      <li><%= image_tag "argentina.png" %><a class="dropdown-item" href="#"> Argentina</a></li>
      <li><%= image_tag "uruguay.png" %><a class="dropdown-item" href="#"> Uruguay</a></li>
    </ul>
  </div>



</div>
