<div class="navbar-container">
  <div class="navbar-card-img">
      <%= image_tag "logo-AMLB" %>
  </div>

  <div class="dropdown">

    <button class="dropdown-toggle"><%= image_tag "argentina.png" %> Language</button>
      <div class="dropdown-menu">
        <a href="/argentina" class="dropdown-item"><%= image_tag "argentina.png" %> English</a>
        <a href="/uruguay" class="dropdown-item"><%= image_tag "uruguay.png" %> Spanish</a>
      </div>
    </div>

</div>
