<%= render 'shared/navbar' %>

<div class="argentina-container">
  <div class="argentina-info-card">
  <div class="card-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestiae
    explicabo placeat atque praesentium, dolorum corporis amet non, aliquid
    quasi voluptate delectus nulla exercitationem eius eum, ducimus architecto
    dolores suscipit!
  </div>
</div>


</div>
