<%= render 'shared/navbar' %>

<div class="argentina-container">

  <div class="argentina-info-card">

    <%= image_tag "argentina.png" %>

    <div class="card-01">

      <div class="card-01-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>

      <div class="card-01-b">
        <p class="text-02">Indice 49,9 posicion 145</p>
      </div>

    </div>

    <div class="card-text">
      Lorem ipsum
    </div>

</div>


</div>
