<%= render 'shared/navbar' %>

<div class="argentina-container">
  <div class="bgblue">
  <div class="card">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem molestiae
    explicabo placeat atque praesentium, dolorum corporis amet non, aliquid
    quasi voluptate delectus nulla exercitationem eius eum, ducimus architecto
    dolores suscipit!
  </div>
</div>


</div>
