<%# HTML correspondiente a bolivia %>
<title>Noticias de Bolivia</title>
<%= render 'shared/navbar' %>

<%# division que contiene toda la pagina %>
<div class="bolivia-container">

  <div class="info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "bolivia.png" %>

    <%# logo de partido del gobierno %>
    <div class="Logo-argentina">
      <%= image_tag "logo-MAS.png" %>
    </div>

    <%# Indice de libertad economica %><%# ↓ ↑ %>
    <div class="ILL">
      <div class="ILL-a">
        <p class="text-01">Indice de libertad economica</p>
      </div>
      <div class="ILL-b">
        <p class="text-02">Indice 49,9 posicion 145</p>
      </div>
    </div>

    <%# Precio del dolar legal %><%# ↓ ↑ %>
    <div class="ILL-2">
      <div class="ILL-2-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="ILL-2-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑909.50</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↓949.50</p>
      </div>
    </div>

    <%# Precio del dolar blue %><%# ↓ ↑ %>
    <div class="ILL-3">
      <div class="ILL-3-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="ILL-3-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↓1415</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↓1435</p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="ILL-4">
      <div class="ILL-4-a">
        <p class="text-13">Inflacion mensual</p>
      </div>
      <div class="ILL-4-b">
        <p class="text-14">↑ 4,6%</p>
      </div>
    </div>
  </div>

</div>

<%# footer %>
<%= render 'shared/footer' %>
