<%# HTML correspondiente a bolivia %>
<title>Noticias de Argentina</title>
<%= render 'shared/navbar' %>

<%# division que contiene toda la pagina %>
<div class="bolivia-container">




</div>

<%# footer %>
<%= render 'shared/footer' %>
