<%# HTML correspondiente a EEUU %>
<title>Noticias de EEUU</title>
<%= render 'shared/navbar' %>

<div class="eeuu-container">

  <div class="eeuu-info-card">
    <%# bandera del pais de la pagina %>
    <%= image_tag "eeuu.png" %>

    <%# logo de partido del gobierno %>
    <div class="card">
      <%= image_tag "eeuu.png" %>
    </div>

    <%# Indice de libertad economica %><%# ↓ ↑ %>
    <div class="card">
      <div class="card">
        <p class="text">Indice de libertad economica</p>
      </div>
      <div class="card">
        <p class="text">Indice 76,6 posicion 17</p>
      </div>
    </div>

    <%# Precio del dolar legal %><%# ↓ ↑ %>
    <div class="card">
      <div class="card">
        <p class="text">Dolar USA</p>
      </div>
      <div class="card">
        <p class="text">Compra</p>
        <p class="text">↑ 1.00</p>
        <p class="text">Venta</p>
        <p class="text">↓ 1.00</p>
      </div>
    </div>

    <%# Precio del dolar blue %><%# ↓ ↑ %>
    <div class="card">
      <div class="card">
        <p class="text">Dolar Blue</p>
      </div>
      <div class="card">
        <p class="text">Compra</p>
        <p class="text">↓ 1.00</p>
        <p class="text">Venta</p>
        <p class="text">↓ 1.00</p>
      </div>
    </div>

    <%# Inflacion mensual %><%# ↓ ↑ %>
    <div class="card">
      <div class="card">
        <p class="text">Inflacion mensual</p>
      </div>
      <div class="card">
        <p class="text">↑ 0.4%</p>
      </div>
    </div>
  </div>
</div>
