<%# HTML correspondiente a EEUU %>
<title>Noticias de EEUU</title>
<%= render 'shared/navbar' %>

<div class="eeuu-container">

  <%# titulo de pagina %>
  <div class="eeuu-title">
    <h2>Noticias de EE.UU.</h2>
  </div>

  <%# noticia principal de argentina %>
  <div class="noticia-principal-argentina">
    <div class="card-42">
      <div class="card-42-title">
        <%= image_tag "argentina.png" %>
        <a href="">Noticias de argentina</a>
      </div>

      <div class="card-42-img">
        <%= image_tag "290624.jpg"  %>
      </div>

      <div class="card-42-text">
        <p>Texto de la noticia</p>
      </div>
    </div>


</div>
