<%# HTML correspondiente a EEUU %>
<title>Noticias de EEUU</title>
<%= render 'shared/navbar' %>

<div class="eeuu-container">

  <%# titulo de pagina %>
  <div class="eeuu-title">
    <h2>Noticias de EE.UU.</h2>
  </div>

  <%# noticia principal de argentina %>
  <div class="noticia-principal-eeuu">
    <div class="card-42">
      <div class="card-42-title">
        <%= image_tag "eeuu.png" %>
        <a href="">Noticias de Estados Unidos</a>
      </div>

      <div class="card-42-img">
        <%= image_tag "290624.jpg"  %>
      </div>

      <div class="card-42-text">
        <p>Texto de la noticia</p>
      </div>
    </div>

  </div>

  <%# exponentes liberales de eeuu %>
  <div class="exponentes-liberales-eeuu">
    <div class="exponente">
      <h3>Exponente 1</h3>
      <p>Descripción del exponente 1</p>
    </div>

    <div class="exponente">
      <h3>Exponente 2</h3>
      <p>Descripción del exponente 2</p>
    </div>

    <div class="exponente">
      <h3>Exponente 3</h3>
      <p>Descripción del exponente 3</p>
    </div>
  </div>
</div>

<%# footer %>
<%= render 'shared/footer' %>
