<%# HTML correspondiente a EEUU %>
<title>Noticias de EEUU</title>
<%= render 'shared/navbar' %>

<div class="eeuu-container">
    <%# titulo de pagina %>
  <div class="eeuu-title">
    <h2>Noticias de EE.UU.</h2>
  </div>


</div>
