<%# HTML correspondiente a la pagina de financiacion %>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<div class="financiacion-container">

  <div class="card-31">

      <div class="card__border">
      </div>
    <div class="card-31-b"></div>

      <div class="card-31-title">
        <h2>Apoyar la Libertad</h2>
      </div>

      <div class="card-31-text">
        <p class="text-36">En America Liberal, ofrecemos noticias
          liberales con integridad y transparencia.
          Tu apoyo es esencial para mantener
          nuestra independencia y calidad.</p>
      </div>
      <div class="card-31-title-two">
          <h2>Por qué es importante aportar?:</h2>
          <ul>
           <li><p class=text-37>Independencia Editorial:</p><p class="text-38"> Publicaciones libres de influencias externas.</p></li>
           <li><p class="text-39">Cobertura Ampliada:</p><p class="text-40"> Más eventos y temas relevantes.</p></li>
           <li><p class="text-41">Mejora Tecnológica:</p><p class="text-42"> Mejor experiencia en nuestro sitio web.</p></li>
           <li><p class="text-43">Divulgación de información de Calidad:</p><p class="text-44">Apoya a nuestros colaboradores.</p></li>
          </ul>
      </div>
      <div class="card-title-two">
        <h2>Cómo puedes ayudar?:</h2>
        <ul>
          <li><p class="text-45">Donación Única:</p><p class="text-46">Aporte puntual.</p></li>
          <li><p class="text-47">Patrocinador Mensual:</p><p class="text-48">Contribución regular.</p></li>
        </ul>
        <h2>¡Gracias por tu apoyo!</h2>
      </div>

  </div>

</div>

<%# division correspondiente al footer %>
<%= render 'shared/footer' %>
