<%# HTML correspondiente a la pagina de financiacion %>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<div class="financiacion-container">

  <div class="card-31">
    <div class="card__border">
    </div>
    <div class="card-31-title">
      <h2>Apoyar la Libertad</h2>
    </div>

    <div class="card-31-text">

      <p class="text-36">En America Liberal, ofrecemos noticias
        liberales con integridad y transparencia.
        Tu apoyo es esencial para mantener
        nuestra independencia y calidad.</p>
    </div>

  </div>


</div>

<%# division correspondiente al footer %>
<%= render 'shared/footer' %>
