<%# HTML correspondiente a la pagina de financiacion %>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<div class="financiacion-container">

  <div class="card">
    <div class="card__border">

    </div>










  </div>


</div>

<%# division correspondiente al footer %>
<%= render 'shared/footer' %>
