<%# HTML correspondiente a la pagina de financiacion %>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<div class="financiacion-container">

  <div class="financiacion-title-img">
    <%= image_tag "logo-AMLB.png" %>
  </div>

  <div class="financiacion-title-one">
    <h1>Apoya la Libertad</h1>
  </div>

  <div class="financiacion-text-one">
    <p>En America Liberal creemos
      firmemente en la libertad de
      información y en el poder
      de una prensa independiente
      para informar y educar a la
      sociedad. Nos dedicamos a
      proporcionar noticias y
      análisis desde una perspectiva
      liberal, comprometidos con la
      verdad, la transparencia y el
      progreso.</p>
  </div>

  <div class="financiacion-title-two">
    <h2>¿Por qué necesitamos tu apoyo?</h2>
  </div>

  <div class="financiacion-text-two">
    <p>Mantener un medio de comunicación
      independiente requiere recursos.
      Tu apoyo voluntario nos ayuda a:</p>
      <ul>
        <li>Garantizar la independencia
          editorial: Con tu ayuda,
          podemos seguir publicando
          contenido sin influencias
          externas y mantener nuestra
          integridad periodística.</li>
      </ul>
  </div>

</div>

<%# division correspondiente al footer %>
<%= render 'shared/footer' %>
