<%# HTML correspondiente a la pagina de financiacion %>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<div class="financiacion-container">

  <div class="financiacion-title-img">
    <%= image_tag "logo-AMLB.png" %>
  </div>

  <div class="financiacion-title-one">
    <h1>Apoya la Libertad</h1>
  </div>

</div>

<%# division correspondiente al footer %>
<%= render 'shared/footer' %>
