<%# HTML correspondiente a la pagina de inicio %>

<%# titulo de pagina %>
<title>America Liberal</title>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<%# contenedor de la pagina principal %>
<div class="home-container">

  <%# titulo general de la pagina principal %>
  <div class="home-title">
    <h1>Volvamos a hacer de America un gran continente</h1>
  </div>
  <%= render 'shared/article_principal' %>
  <%= render 'shared/article_secundary' %>
  <%= render 'shared/article_extra' %>

  <%# division correspondiente a las noticias secundarias %>

</div>
