<title>America Liberal</title>

<%= render 'shared/navbar' %>
<div class="home-container">
  <div class="promo-content">
  <span>
    <marquee behavior="" direction="left">Viva la libertad carajo</marquee>
  </span>
</div>

</div>
