<%# titulo de pagina %>
<title>America Liberal</title>

<%# barra de navegacion %>
<%= render 'shared/navbar' %>

<%# contenedor de la pagina principal %>
<div class="home-container">

  <%# titulo general de la pagina principal %>
  <div class="home-title">
    <h1>Volvamos a hacer de America un gran continente</h1>
  </div>

  <%# division correspondiente a donde estaran las informaciones principales %>
  <div class="card-11">
    <div class="card-11-title">
      <h2>Noticia</h2>
    </div>
    <div class="card-11-img">
      <%= image_tag "290624.jpg" %>
    </div>

  </div>

</div>
