<%= render 'shared/navbar' %>

<div class="uruguay-container">

  <div class="uruguay-info-card">

    <%# bandera del pais de la pagina %>
    <%= image_tag "uruguay.png" %>

    <%# logo de partido del gobierno %>
    <div class="card-06">
      <%= image_tag "logo-PN.png" %>
    </div>

    <%# Indice de libertad economica %>
    <div class="card-07">
      <div class="card-07-a">
        <p class="text-15">Indice de libertad economica</p>
      </div>
      <div class="card-07-b">
        <p class="text-02">Indice 49,9 posicion 145</p>
      </div>
    </div>

    <%# Precio del dolar americano %>
    <div class="card-08">
      <div class="card-08-a">
        <p class="text-03">Dolar USA</p>
      </div>
      <div class="card-08-b">
        <p class="text-04">Compra</p>
        <p class="text-05">↑884,5</p>
        <p class="text-06">Venta</p>
        <p class="text-07">↑924,5</p>
      </div>
    </div>

    <%# Precio del euro %>
    <div class="card-09">
      <div class="card-09-a">
        <p class="text-08">Dolar Blue</p>
      </div>
      <div class="card-09-b">
        <p class="text-09">Compra</p>
        <p class="text-10">↑884,5</p>
        <p class="text-11">Venta</p>
        <p class="text-12">↑924,5</p>
      </div>
    </div>

    <%# Inflacion mensual %>
    <div class="card-10">
      <div class="card-10-a">
        <p class="text-13">Inflacion mensual</p>
      </div>
      <div class="card-10-b">
        <p class="text-14">↓ 4,2%</p>

      </div>

    </div>

  </div>

</div>
