// SCSS for articles

//articulo principal

// articulo secundario
.article-secundary-container {
  margin: 16px 0;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  .article-secundary-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

   a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
   }

  }

  .article-secundary-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
