// SCSS for articles

//articulo principal

// articulo secundario
.article-secundary-container {
  margin: 16px 0;
  border-radius: 5px;

  // carta correspondiente al titulo
  .article-secundary-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

   a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
   }

  }

  // carta correspondiente a las noticias secundarias
  .article-secundary-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}
