// SCSS for articles

//articulo principal

// articulo secundario
.article-secundary-container {
  margin: 0px;
  border: 2px solid black;

  .article-secundary-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 2px solid black;

   a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
   }

  }
}
