// SCSS for buttons

// navbar dropdown
.dropdown {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  li {
    display: flex;
    padding: 0 8px;

    img {
      width: 30px;
      height: 30px;
    }
  }

    .dropdown-menu {
      box-shadow:  inner shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}

// button navbar home
.button-01 {
  // disposicion general
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // estilo del button
  border: none;
  background-color: transparent;

  img {


    height: 10vh;
    object-fit: cover;
  }
}

// carousel buttons
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;

  &.prev-btn {
    left: 10px;
  }

  &.next-btn {
    right: 10px;
  }
}

// button correspondiente a "apoyar la libertad"
.button-02 {
  background-color: transparent;
}
