// SCSS Cards - general

.navbar-card-img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bec4cf;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }
}

// argentina info card

.argentina-info-card {

  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 0 16px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  width: 100%;

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  .card-04 {
    height: auto;
    width: 20%;
    margin:  0 0 0 16px;
    border-left: 2px solid #bec4cf;


    img {
      height: 9vh;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-01 {

    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;
    border-left: 2px solid #bec4cf;
    border-right: 2px solid #bec4cf;

    .card-01-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-01-b {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  .card-02 {

    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-02-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-02-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  .card-03 {

    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-03-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-03-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  .card-text {
    font-size: 1rem;
    color: #bec4cf;
    background: transparent;
    padding: 1.5rem;
    border-radius: 1.2rem;
    text-shadow: 0px 0px 0.5rem #000000e1;
  }



}
