// SCSS Cards - general

.navbar-card-img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: auto;
    height: 10vh;
    object-fit: cover;
  }
}

// argentina info card
.argentina-info-card {

  // general
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 0 16px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  width: 100%;

  // country image flag
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }


  // card 01 Indice de libertad economica
  .card-01 {

    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;
    border-left: 2px solid #bec4cf;
    border-right: 2px solid #bec4cf;

    .card-01-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-01-b {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  // card 02 Dolar USA
  .card-02 {

    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-02-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-02-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  // card 03 Dolar blue
  .card-03 {

    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-03-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-03-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

  }

  // card 04 logo LLA
  .card-04 {
    height: 100%;
    width: 15%;
    margin:  0 0 0 16px;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .card-text {
    font-size: 1rem;
    color: #bec4cf;
    background: transparent;
    padding: 1.5rem;
    border-radius: 1.2rem;
    text-shadow: 0px 0px 0.5rem #000000e1;
  }

  // card 05 Inflacion mensual
  .card-05 {
    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-05-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-05-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }
}

// uruguay info card
.uruguay-info-card {

  // general
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 0 16px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  width: 100%;

  // country image flag
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  // card 06 logo PN
  .card-06 {

    height: 10vh;
    width: 15%;
    margin:  0 0 0 16px;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }

  // card 07 Indice de libertad economica
  .card-07 {

    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;
    border-left: 2px solid #bec4cf;
    border-right: 2px solid #bec4cf;

    .card-07-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-07-b {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // card 08 Dolar USA
  .card-08 {

    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-08-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-08-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // card 09 Euro
  .card-09 {
    height: 10vh;
    width: 20%;
    margin: 16px 0;
    border-right: 2px solid #bec4cf;

    .card-09-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-09-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // card 10 Inflacion mensual
  .card-10 {
      height: 10vh;
      width: 20%;
      margin: 16px 0;
      border-right: 2px solid #bec4cf;

    .card-10-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .card-10-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }



  }
}

// card 11 correspondiente a la informacion principal de la pagina principal
.card-11 {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // titulo de la noticia principal
  .card-11-title {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    a {
      text-decoration: none;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
      font-size: 24px;
    }

    img {
      width: 40px;
      height: 40px;
      margin: 0 16px 0 0;
      object-fit: cover;

    }
  }

  // imagen de la noticia principal
  .card-11-img {
    // general
    display: flex;
    justify-content: center;

    // imagen
    img {
      width: 70%;
      height: 70%;
      border-radius: 5px;
      object-fit: cover;
      box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

    }

  }

  // texto de la noticia principal
  .card-11-text {
    margin: 16px 0;
    font-size: 1rem;
    color: #000000;
    background: transparent;
    padding: 16px;
  }
}

// card 12 correspondiente a noticias secundarias
.card-12 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  .card-12-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  // imagen correspondiente a la noticia secundaria
  .img-noticia{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .img-flag{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    object-fit: cover;
  }

  // titulo de la noticia secundaria
  a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin: 16px 0;
  }
}

// card 13 correspondiente a noticias secundarias
.card-13 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  .card-13-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }

 // imagen correspondiente a la noticia secundaria
  .img-noticia{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .img-flag{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    object-fit: cover;
  }

  // titulo de la noticia secundaria
  a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin: 16px 0;
  }
}

// card 14 correspondiente a noticias secundarias
.card-14 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  .card-14-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  // imagen correspondiente a la noticia secundaria
  .img-noticia{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .img-flag{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    object-fit: cover;
  }

  // titulo de la noticia secundaria
  a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin: 16px 0;
  }
}

// card 15 correspondiente a noticias extras
.card-15 {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #000000;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  .card-15-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  // imagen correspondiente a la noticia extra
  .img-noticia{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .img-flag{
    width: 40px;
    height: 40px;
    margin: 0 16px 0 0;
    object-fit: cover;
  }

  // titulo de la noticia extra
  a {
    text-decoration: none;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin: 16px 0;
  }
}
