// SCSS correspondiente a los exponentes liberales

// carta general de exponentes liberales
.exponentes-liberales {
  margin: 8px 0;

  .exponentes-liberales-line-one {
    display: flex;
  }

  .exponentes-liberales-line-two {
    display: flex;
  }

}

// exponentes liberales home

// card 27 correspondiente a exponentes liberales home
.card-27 {

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  margin: 0 8px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // imagen correspondiente a exponentes liberales
  .card-27-img {

    display: flex;
    justify-content: center;

    img {
      width: 40%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

    }
  }
  // titulo correspondiente a exponentes liberales
  .card-27-title {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
    }
  }
}

// card 28 correspondiente a exponentes liberales home
.card-28 {

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  margin: 0 8px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // imagen correspondiente a exponentes liberales
  .card-28-img {

    display: flex;
    justify-content: center;

    img {
      width: 40%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

    }
  }
  // titulo correspondiente a exponentes liberales
  .card-28-title {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
    }
  }

}

// card 29 correspondiente a exponentes liberales home
.card-29 {

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  margin: 16px 8px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // imagen correspondiente a exponentes liberales
  .card-29-img {

    display: flex;
    justify-content: center;

    img {
      width: 40%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

    }
  }
  // titulo correspondiente a exponentes liberales
  .card-29-title {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
    }
  }

}

// card 30 correspondiente a exponentes liberales home
.card-30 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  margin: 16px 8px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // imagen correspondiente a exponentes liberales
  .card-30-img {

    display: flex;
    justify-content: center;

    img {
      width: 40%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

    }
  }
  // titulo correspondiente a exponentes liberales
  .card-30-title {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
    }
  }
}

// exponentes liberales de argentina
.exponentes-liberales-argentina {
  margin: 8px 0;

  .exponentes-liberales-argentina-line-one {
    display: flex;
  }

  .exponentes-liberales-argentina-line-two {
    display: flex;
  }

}

// exponentes liberales de brazil
.exponentes-liberales-brazil {
  margin: 8px 0;

  .exponentes-liberales-brazil-line-one {
    display: flex;
  }

  .exponentes-liberales-brazil-line-two {
    display: flex;
  }

}

// card 44 correspondiente a exponentes liberales brazil
.card-44 {

  display: flex;
  flex-direction: column;
  width: 50%;
  height: 300px;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0 0 8px;
  border: 2px solid #ffffff;
  box-shadow: 1px 1rem 1.5rem -0.9rem #000000e1;

  // imagen correspondiente a exponentes liberales
  .card-44-img {

    display: flex;
    justify-content: center;

    img {
      width: 25%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;

    }
  }
  // titulo correspondiente a exponentes liberales
  .card-44-title {
    display: flex;
    justify-content: center;
    width: 100%;

    a {
      text-decoration: none;
      font-size: 24px;
      color: #000000;
      font-family: "Times New Roman", Times, serif;
    }
  }
}

// exponentes liberales de uruguay
.exponentes-liberales-uruguay {
  margin: 8px 0;

  .exponentes-liberales-uruguay-line-one {
    display: flex;
  }

  .exponentes-liberales-uruguay-line-two {
    display: flex;
  }

}
