// SCSS for footer style

.footer-container {
  height: 10vh;
  width: 100%;

  bottom: 0;
  border-radius: 5px;
  background: linear-gradient(to right, #ffffff, skyblue);
  border: 3px solid skyblue;
}
