// SCSS correspondiente a las cartas de informacion de cada pais

// info card general
.info-card {

  // general
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 0 16px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  width: 100%;

  // country image flag
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  // Logo argentina
  .Logo-argentina {
    height: 100%;
    width: 15%;
    margin:  0 0 0 16px;


    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

   // Logo uruguay
   .Logo-uruguay {
    height: 100%;
    width: 20%;
    margin:  0 0 0 16px;


    img {
      height: 48px;
      width: 96px;
      object-fit: cover;
    }
  }

  // Indice de libertad economica
  .ILL {
    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;
    justify-content: center;

    .ILL-a {
      height: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .ILL-b {
      height: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // Indice 2
  .ILL-2 {
    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;

    .ILL-2-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .ILL-2-b {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // Indice 3
  .ILL-3 {
    height: 10vh;
    width: 20%;
    margin:  0 0 0 16px;

    .ILL-3-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .ILL-3-b {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

  // Indice 3
  .ILL-4 {
    height: 10vh;
    width: 20%;
    margin: 16px 0;

    .ILL-4-a {
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    .ILL-4-b {
      display: flex;
      height: 50%;
      font-size: 1rem;
      margin: auto;
      display: flex;
      justify-content: center;
    }
  }

}
