// SCSS navbar - general

// navbar
.navbar-container {
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid skyblue;
  display: flex;
  justify-content: space-between;
}

// navbar dropdown
.container-toggle {
 margin: 0;
 padding: 0;

 height: 100%;
 box-sizing: border-box;
 font-family: sans-serif;
}
