// SCSS navbar - general

// navbar
.navbar-container {
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid skyblue;
  display: flex;
  justify-content: space-between;
}

// navbar dropdown

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  li img {
    width: 30px;
    height: 30px;
  }
}
