// SCSS navbar - general

// navbar
.navbar-container {
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid skyblue;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// navbar dropdown

.dropdown {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
  }

  li {
    display: flex;
    padding: 0 8px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .dropdown-menu {

  }

}
