// scss from text through pages

// color de variacion positiva #00ff26
// color de variacion negativa #ff0000
// color neutro #bec4cf

// texto correspondiente al Indice de libertad economica de argentina
.text-01 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;

  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al puntaje del indice de libertad economica de argentina
.text-02 {
  font-size: 16px;
  color: #ff0000;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al Dolar USA legal en la pagina de argentina
.text-03 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la compra del dolar USA legal en la pagina de argentina
.text-04 {
  margin: 0 4px;
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de compra del dolar USA legal en la pagina de argentina
.text-05 {
  font-size: 12px;
  color: #ff0000;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la venta del dolar USA legal en la pagina de argentina
.text-06 {
  margin: 0 4px;
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de venta del dolar USA legal en la pagina de argentina
.text-07 {
  font-size: 12px;
  color: #00ff26;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al Dolar USA blue en la pagina de argentina
.text-08 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la compra del dolar USA blue en la pagina de argentina
.text-09 {
  margin: 0 4px;
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de compra del dolar USA blue en la pagina de argentina
.text-10 {
  font-size: 12px;
  color: #00ff26;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la venta del dolar USA blue en la pagina de argentina
.text-11 {
  margin: 0 4px;
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de venta del dolar USA blue en la pagina de argentina
.text-12 {
  font-size: 12px;
  color: #00ff26;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al Indice de inflacion mensual de argentina
.text-13 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al porcentaje de inflacion mensual de argentina
.text-14 {
  margin: 0 4px;
  font-size: 16px;
  color: #ff0000;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al indice de libertad economica de uruguay
.text-15 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al puntaje del indice de libertad economica de uruguay
.text-16 {
  margin: 0 4px;
  font-size: 16px;
  color: #ffbf00;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al dolar USA en la pagina de uruguay
.text-17 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la compra del dolar USA en la pagina de uruguay
.text-18 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de compra del dolar USA en la pagina de uruguay
.text-19 {
  font-size: 12px;
  color: #ffbf00;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la venta del dolar USA en la pagina de uruguay
.text-20 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de venta del dolar USA en la pagina de uruguay
.text-21 {
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al euro en la pagina de uruguay
.text-22 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la compra del euro en la pagina de uruguay
.text-23 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de compra del euro en la pagina de uruguay
.text-24 {
  font-size: 16px;
  color: #ff0000;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente a la venta del euro en la pagina de uruguay
.text-25 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al precio de venta del euro en la pagina de uruguay
.text-26 {
  font-size: 16px;
  color: #ff0000;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al Indice de inflacion mensual de uruguay
.text-27 {
  font-size: 16px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al porcentaje de inflacion mensual de uruguay
.text-28 {
  font-size: 12px;
  color: #bec4cf;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  // color de variacion positiva #00ff26
  // color de variacion negativa #ff0000
  // color neutro #bec4cf
}

// texto correspondiente al texto de la noticia secundaria 1 de la pagina principal
.text-29 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
}

// texto correspondiente al texto de la noticia secundaria 2 de la pagina principal
.text-30 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
}

// texto correspondiente al texto de la noticia secundaria 3 de la pagina principal
.text-31 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
}

// texto correspondiente al texto de la primera carta de exponentes liberales
.text-32 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la segunda carta de exponentes liberales
.text-33 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la segunda carta de exponentes liberales
.text-34 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la segunda carta de exponentes liberales
.text-34 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la segunda carta de exponentes liberales
.text-35 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la carta de financiacion
.text-36 {
  margin: 16px 0 16px 0;
  font-size: 16px;
  color: skyblue;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-37 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-38 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-39 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-40 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-41 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-42 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-43 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-44 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-45 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-46 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-47 {
  color: skyblue;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente a informacion sobre financiamiento
.text-48 {
  margin: 0 8px;
  color: skyblue;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la primera carta de exponentes liberales argentina
.text-49 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la segunda carta de exponentes liberales argentina
.text-50 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la tercera carta de exponentes liberales argentina
.text-51 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la cuarta carta de exponentes liberales argentina
.text-52 {
  font-size: 16px;
  color: #bec4cf;
  font-family: "Times New Roman", Times, serif;
}

// texto correspondiente al texto de la primera carta de exponentes liberales uruguay
